main {
width: 60%;
margin: auto;
}

.hero{
    padding-top: 15px;
}

.nadpis h2{
    color: var(--orange);
    padding-left: 4vw;
    padding-bottom: 20px;
    font-size: 32px;
}

.objekty{
    height: 230px;
}

.popis{
    background-color: #EFDA8B;
    height: 230px;
}

.nadpis-sekce h2{
    font-size: 32px;
    color: var(--orange);
    padding-bottom: 15px;
}


#sekce{
    padding-bottom: 80px;
}

.uvod{
    padding-top: 50px;
}

.obraz1{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

#popisek-img{
    color: #535B73;
    font-size: 16px;
}

.kontent ul{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: disc;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: var(--primary);
}

.kontent ol{
    padding-left: 20px;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: var(--primary);
}

.mesh{
    padding-top: 40px;
    padding-left: 40px;
}

.kontent-mesh{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mesh-menu{
    height: 300px;
}

#kontent-levo{
    width: 70%;
}


#kontent-cviceni{
    display: flex;
    flex-direction: row;

}

#lampa{
    height: 500px;
    width: 250px;
}

.kontent-pravo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3px;
}

.kontent-shrnuti ul{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: disc;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: var(--primary);
}


#lightbox-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lightbox-overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}