main {
width: 60%;
margin: auto;
}

.hero{
    padding-top: 15px;
}
.nadpis h2{
    color: var(--orange);
    padding-left: 4vw;
    padding-bottom: 20px;
    font-size: 32px;
}

.popis{
    background-color: #FF8D8D;
    height: 230px;
}

#raketa{
    height: 230px;
    width: 100%;
}

.nadpis-sekce h2{
    font-size: 32px;
    color: var(--orange);
    padding-bottom: 15px;
}


#sekce{
    padding-bottom: 80px;
}

.uvod{
    padding-top: 50px;
}

#popisek-img{
    color: #535B73;
    font-size: 16px;
}

.kontent-4uvod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;
}

.kontent-levo{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 650px;
}

.kontent-pravo{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.kontent ul{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: disc;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: var(--primary);
}

.kontent ol{
    padding-left: 20px;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: var(--primary);
}

.kontent-modes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popis-modes{
    width: 550px;
}

.face-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.video-s-okrajem {
    border: 4px solid #FF8D8D;
}

.kontent-mrakodrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

.mrakodrap{
    width: 300px;
    height: 300px;
}

/* HINT */
.tooltip {
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: var(--primary);
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #FF8D8D;
  cursor: pointer;
}

.tooltiptext {
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  visibility: hidden;
  width: 750px;
  background-color: #ffc5c5;
  color: #091434;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  left: 250px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* HINT */


.kontent-shrnuti ul{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: disc;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: var(--primary);
}

#lightbox-overlay {
    display: none; 
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    
    z-index: 9999;
    cursor: pointer; 
}

#lightbox-overlay img,
#lightbox-overlay video {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    cursor: default; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}
