main {
width: 60%;
margin: auto;
}

.hero{
    padding-top: 15px;
}
.nadpis h2{
    color: var(--orange);
    padding-left: 4vw;
    padding-bottom: 20px;
    font-size: 32px;
}

.popis{
    background-color: #ADD2A4;
    height: 230px;
}

#model-container{
    height: 230px;
    width: 100%;
}

.kontent{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.kontent ol{
    padding-left: 20px;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: var(--primary);
}

.nadpis-sekce h2{
    font-size: 32px;
    color: var(--orange);
    padding-bottom: 15px;
}


#sekce{
    padding-bottom: 80px;
}

.uvod{
    padding-top: 50px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.video-s-okrajem {
    border: 4px solid #ADD2A4;
}

.kontent-shrnuti ul{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: disc;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: var(--primary);
}

#lightbox-overlay {
    display: none; 
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    
    z-index: 9999;
    cursor: pointer; 
}

#lightbox-overlay img,
#lightbox-overlay video {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    cursor: default; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}