header{
  display: flex;
}

header a{
  font-family: 'MujFont', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: var(--primary);
}

header a.active{
  color: var(--orange);
}

.header {
    width: 100%;
    padding: 10px 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

ul{
  list-style: none;
}

ul li{
  display: inline-block;
  position: relative;
}

ul li a{
  display: block;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  
}

ul li ul.dropdown li{
  display: block;
}

ul li ul.dropdown{
  width: 400px;
  border-radius: 14px;
  background-color: var(--yellow);

  position: absolute;
  top: 3vw;
  right: 15px;
  z-index: 999;
  display: none;
}

ul li a:hover{
  color: var(--orange);
}

ul li:hover ul.dropdown{
  display: block;
}