.header {
    margin-bottom: 2vw;
}

footer{
  margin-top: 2vw;
}
main{
  display: flex;
  justify-content: center;
}

.hero{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.nadpis{
  display: flex;
  align-items: center;
  justify-content: center;
}

.model{
  height: 30vw;
}