:root {
  --bg: #F5EFE6; /* backgroud color */
  --orange: #FF923E; /* buttons, heading */
  --primary: #091434; /* text */
  --blue: #9EB6D0; /* modra */
  --yellow: #EFDA8B; /* zluta */
  --grey: #535B73; /* seda */
}

*{
  line-height: 150%;
}

@font-face {
  font-family: 'MujFont';
      src: url('../fonts/Miskiefont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    row-gap: 50px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'MujFont';
      src: url('../fonts/Miskiefont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      color: var(--primary);
}

h1{
  font-size: 64px;
  color: var(--primary);
}


h6{
  font-size: 16px;
  color: var(--primary);
}

p{
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: var(--primary);
}

body{
    background-color: var(--bg);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  font-size: 20px;
  color: var(--grey);
}

footer{
  color: var(--grey);
  margin-bottom: 1vw;
}


kbd {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 0.2),
    0 2px 0 0 rgb(255 255 255 / 0.7) inset;
  color: #333333;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}